@media (min-width: 768px) {
  .container {
    max-width: 1150px;
  }
}

@font-face {
 font-family: HelveticaNeueCyr-Light;
 src: url('fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
 font-family: HelveticaNeueCyr-Roman;
 src: url('fonts/HelveticaNeueCyr-Roman.otf');
}

@font-face {
 font-family: HelveticaNeueCyr-Bold;
 src: url('fonts/HelveticaNeueCyr-Bold.otf');
}

BODY {
 font-family: Arial;
 font-size: 14px;
}

.header {
  margin-top: 20px;
}

.header H1 {
	font-size: 18pt;
	font-weight: bold;
	margin-top: 12px;
}

.header A {
 margin-top: 10px;
}

.subheader {
 margin-top: 20px;
 background: url('/img3/header_line.png');
 background-repeat: repeat-x;
 height: 10px;
}

TABLE.dateselector {
 width: 100px;
}

TABLE.dateselector TD {
 qborder: 1px solid #DDDDDD;
 border: none;
 text-align: center;
}

TD.datetext {
 qbackground-color: #F2F2F2;
 color: #FE6E48;
 font-family: HelveticaNeueCyr-Bold;
 font-size: 30px;
 
}

.leanchinfo {
	border: 1px dotted #CCCCCC; 
	padding: 10px 20px 20px; 
	margin-bottom: 20px;
	margin-top: 20px;
}

.leanchtitle {
	margin-top: 30px;
}

.leanchtitle H2 {
	font-family: Sans;
	font-size: 24pt;
	font-weight: bold;
}

.leanchinfoitem {
  margin-top: 10px;
}

.leanchinfovalue{
	background: url('/img3/delimiter2.gif'); 
	background-repeat: repeat-x; 
	height: 32px;
}

.leanchinfoitem .col-sm-2 {
 color: #AAAAAA;
}

.leanchpic {
	margin-left: 15px;
}

.leanchcomment {
	margin-top: 20px;
}

.leanchcommentline {
 background: url('/img3/delimiter.gif');
 background-repeat: repeat-x;
 padding-top: 15px;
}

.leanchcommentline .col-sm-3 {
 color: #888888;
}

.footer {
 margin-top: 30px;
 background: url('/img3/delimiter.gif');
 background-repeat: repeat-x;
 padding-top: 10px;
 margin-bottom: 10px;
 color: #666666;
}

TABLE.navigate {
 margin-top: 30px;
}

TR.navigate-preview TD
{
	padding-top: 10px;
}

TR.navigate-preview-caption TD
{
	background: url('/img3/delimiter.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 50px;
}


A.btn-blue {
  color: #ffffff;
  background-color: #0070B0;
  border: none;
  border-radius: 2px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #0070B0;
  border: none;
}
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-pink {
  color: #ffffff;
  background-color: #fe3c5c;
  border: none;
  border-radius: 2px;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #fe3c5c;
  border: none;
}
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  background-image: none;
}

INPUT.btn-green {
  color: #ffffff;
  background-color: #25b13c;
  border: none;
  padding: 10px;
  border-radius: 2px;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #25b13c;
  border: none;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}


TD.requesthint {
 padding-left: 20px;
 font-size: 12px;
 color: #666666;
}

DIV.imgupload {
 float: left;
}

DIV.imgupload  IMG{
 float: left;
 margin-top: 10px;
 margin-left: 4px;
 display: none;
}

LABEL.error {
 color: red;
}

A.pointer {
 cursor: hand; cursor: pointer;
}

A.dashlink {
  border-bottom: 1px dashed #999;
  display: inline;
  color:  #0086C8;
 text-decoration: none;
 }

A.dashlink:hover {
 text-decoration: none;
}

#leanchpic {
 max-width:900px;
}